<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Homepage API</title>
    <meta charset="utf-8">
    <meta name="descripton" content="Homepage API Zeyn">
    <meta name="keyword" content="web api, zeyn, webapi">
  <meta name="author" content="Zeyn">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- My Css -->
    <link rel="stylesheet" href="style.css">
    <!-- My Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Share+Tech+Mono' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Teachers' rel='stylesheet'>
    <!-- My Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <body>
      <img src="/assets/image/home.jpg" alt="myFoto">
      <div class="text-info">
        <h1>Hi, I'm Zeyn</h1>
        <p>I am a student who is learning a lot about programming, this is one of my learning projects.</p>
      </div>
      <div class="icons">
        <div class="icons-whatsapp">
          <a href="https://wa.me/62895417660923" target="_blank">
            <div class="whatsapp-icon">
              <i class="fa-brands fa-whatsapp"></i>
            </div>
          </a>
        </div>
        <div class="icons-telegram">
          <a href="https://t.me/@zeyn" target="_blank">
            <div class="telegram-icon">
              <i class="fa-solid fa-up-right-from-square"></i>
            </div>
          </a>
        </div>
        <div class="icons-instagram">
          <a href="https://instagram.com/@zeyn" target="_blank">
            <div class="instagram-icon">
              <i class="fa-brands fa-instagram"></i>
            </div>
          </a>
        </div>
      </div>
      <div class="bottom">
        <div class="bottom-docs">
          <a href="/api/docs">
            <button>
              Documentation
              <i class="fa-solid fa-arrow-right"></i>
            </button>
          </a>
        </div>
        <div class="bottom-login">
          <a href="/api/login">
            <button>
              Login Account
              <i class="fa-solid fa-arrow-right"></i>
            </button>
          </a>
        </div>
      </div>
      <div class="footer">
        <p>Copyright &copy; 2024 by Zeyn</p>
      </div>
      <script src="assets/js/script.js">
      </script>
    </body>
  </head>
</html>
